# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
.settings
.project

#Ignore annoying files and config files
.theia
*.config
.vscode
config.json

snippets.txt